*~
*.o
*.cmi
*.cmo
*.cmx
*.dpt
*.dpt.err
_client
_server
local/lib
local/var/data
local/var/log
Program.ml
Program.mli
Program
Program.opt
Program.top
Program_lex.ml
Program.conflicts
dpt.marshal
dpt

